<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Vivendy{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="navbar">
            <h1 class="logo">Vivendy</h1>
            {% if session.get("username") %}
            <nav>
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('logout') }}">Logout</a>
                {% if session.get("role") == 'admin' %}
                <a href="{{ url_for('admin_users') }}">Admin Panel</a>
                {% endif %}
            </nav>
            {% endif %}
        </div>
    </header>

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2026 Vivendy</p>
    </footer>
</body>
</html>
